* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: "Lato", sans-serif;
	font-size: 16px; 
}

/* Style header */
#header {
	width: 100%;
	padding: 60px;
	text-align: center;
	background-color: #ff00ff;
}

#header > h1 {
	font-size: 48px;
	letter-spacing: 1.2px;
	margin-bottom: 12px;
}

#header > h1 > span {
	font-weight: 900;
}

#header > h4 {
	font-weight: 200;
	letter-spacing: 2px;
}

#wrapper {
	width: 100%;
	max-width: 1960px;
	margin-right: auto;
	margin-left: auto;
}

/* Style Menu */
#menu {
	background-color: #1a001a;
	padding: 20px;
	text-align: center;
}

#menu > ul {
	list-style-type: none;
}

#menu > ul > li {
	display: inline;
	padding: 16px;
}

#menu > ul > li > a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 200;
	letter-spacing: 1px;
}

#menu > ul > li > a:hover {
	color: #ffb3ff;
}

/* Style content */
#content-landscape {
	display: none;
}

#content-portrait {
	display: block;
}

/* Style the tab */
/*.tab {
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 30%;
	height: inherit;
}*/

/* Style the buttons accordion */
div#content-portrait button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 26px 32px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
div#content-portrait button:hover {
	background-color: #ffb3ff;
}

/* Create an active/current "button" class */
div#content-portrait button.active {
	background-color: #ffb3ff;
}

/* Style the panel content */
div#content-portrait .panelcontent {
	padding: 0px 12px;
	border: 1px solid #ccc;
	width: 70%;
	height: inherit;
	border-left: none;
	display: none;
}

div#content-portrait div.panelcontent > h3 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
	font-size: 36px; 
}

div#about.panelcontent > p {
	font-size: 14px;
	line-height: 1.2;
}

div.panelcontent > p:nth-child(even) {
	padding: 40px 100px 16px 100px;
}

div#about.panelcontent > p:nth-child(odd) {
	padding: 16px 100px 30px 100px;
}

/* Style Footer */
#footer {
	padding: 26px 0 8px 0;
	background-color: #1a001a;
	text-align: center; 
}

#menu-footer {
	margin-bottom: 12px;
}

#menu-footer ul {
	list-style-type: none;
}

#menu-footer ul li {
	display: inline;
	padding-left: 8px;
	padding-right: 8px;
}

#menu-footer ul li a {
	text-decoration: none;
	color: #ff00ff;
	font-size: 12px;
}
#menu-footer ul li a:hover {
	color: #ffe6ff;
}

#copyright {
	color: #bfbfbf;
	font-size: 8px;
	letter-spacing: 1px;
}

/* Style Modal Form */

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
form div.container button {
  background-color: #ff00ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

form div.container button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.closebtn-container {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 32px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff00ff;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

@media screen and (min-width: 800px) {

	#content-portrait {
		display: none;
	}
	/* Style content */
	#content-landscape {
		display: flex;
		justify-content: flex-start;
		flex-direction: flex-start;
	}

	/* Style the tab */
	.tab {
		border: 1px solid #ccc;
		background-color: #f1f1f1;
		width: 30%;
		height: inherit;
	}

	/* Style the buttons inside the tab */
	.tab button {
		display: block;
		background-color: inherit;
		color: black;
		padding: 26px 32px;
		width: 100%;
		border: none;
		outline: none;
		text-align: left;
		cursor: pointer;
		transition: 0.3s;
		font-size: 17px;
	}

	/* Change background color of buttons on hover */
	.tab button:hover {
		background-color: #ffb3ff;
	}

	/* Create an active/current "tab button" class */
	.tab button.active {
		background-color: #ffb3ff;
	}

	/* Style the tab content */
	.tabcontent {
		padding: 0px 12px;
		border: 1px solid #ccc;
		width: 70%;
		height: inherit;
		border-left: none;
	}

	div.tabcontent > h3 {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 20px;
		font-size: 36px; 
	}

	div#about.tabcontent > p {
		font-size: 14px;
		line-height: 1.2;
	}

	div.tabcontent > p:nth-child(even) {
		padding: 40px 100px 16px 100px;
	}

	div#about.tabcontent > p:nth-child(odd) {
		padding: 16px 100px 30px 100px;
	}
}